.inputform {
    display: flex;
    border: var(--border);
    align-items: center;
    padding-left: 15px;
    column-gap: 15px;
    border-radius: 4px;
    background-color: var(--component-bg);
    box-shadow: var(--component-shadow);
    transition: all 0.3s;
  
    input {
      width: 100%;
      border-radius: 0 4px 4px 0;
      background-color: var(--component-bg);
      border: none;
      outline: none;
      color: var(--text-color);
      caret-color: var(--text-color);
  
      &::placeholder {
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: var(--text-color);
      }
    }
  
    label {
      margin-top: 5px;
    }
  
    .svg {
      color: var(--text-color);
    }
  }
  